@font-face{
    font-family: 'Superspace';
    font-weight: normal;
    src: url('../fonts/Superspace/Superspace Light ver 1.00.otf');
}

@font-face{
    font-family: 'Superspace Bold';
    font-weight: bold;
    src: url('../fonts/Superspace/Superspace Bold ver 1.00.otf');
}


html, body{
    height: 100%;
}

body{
    margin: 0;
    min-height: 100%;
    width: 100%;
    background: url(../images/GalleryPage/galver2/ver2/gall_bg.png)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "Superspace";
    font-size: 24px;
    color: white;
    position: relative;
}

.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/GalleryPage/galver2/ver2/gall_bg.png)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: 20000;
    display: table;
}

.loading-logo{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.loading-logo img{
    margin-top: 8%;
    max-width: 100%;
}
.screen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.screen img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
}

div {
    display: block;
}

.menu{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10000;
    margin-top: 30px;
}

.menu ul{
    padding: 0;
    margin: 0;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px 30px;
    padding-bottom: 13px;
    font-size: 22px;
    margin: 0px;
    transition: background, border;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    border-bottom: 2px solid rgba(255,255,255,0);

}

.menu div{
    list-style-type: none;
    display: inline-block;
    padding: 15px 30px;
    padding-bottom: 13px;
    font-size: 22px;
    margin: 0px;
    transition: background, border;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    border-bottom: 2px solid rgba(255,255,255,0);

}

div.menu-center{
    background: transparent;
    display: table;
    margin: auto;
    border-radius: 0 0 10px 10px;
    padding: 0;
    /*width: 640px;*/
}

.menu a{
    margin: -3px;
}

.menu-main{
    background: rgba(255,255,255,0.1);
}

.menu ul li.active{
    background: transparent;
    border-bottom: 2px solid rgba(0,0,0,0);
    text-decoration: underline;
    font-family: "Superspace Bold";
}

.menu ul li:hover{
    background: transparent;
    border-bottom: 2px solid rgba(0,0,0,0);
    text-decoration: underline;
    font-family: "Superspace Bold";
}

.menu ul a{
    color: white;
    text-decoration: none;
}

div.menu-side-container{
    top: 0;
    position: absolute;
}

.menu div.menu-list-container{
    position: relative;
}

.menu-list-left{
    position: absolute;
}

.menu-list-right{
    position: absolute;
}

img.img-logo{
    position: absolute;
    max-height: none;
    margin-top: -46px;
    margin-left: -48px;
    height: 74px;
    padding: 10px;
    padding-top: 20px;
    background: transparent;
    border: 2px solid rgba(0,0,0,0);
    transition: border, margin-top;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

}

img.img-logo:hover{
    margin-top: -30px;

}

.menu-logo{
    background: none !important;
    width: 36px;
    border: none;
}
.l {
    z-index: 10;
}

#lleft {
    right: 115px;
    top: 7%;
    bottom: 0;
    max-width: none;
    margin: auto;
}

#lright{
    top: 7%;
    bottom: 0;
    left: 115px;
    max-width: none;
    margin: auto;
}

#galframe {
    top: 18%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 40;
    opacity: 0;
}
#galarrowleft {
    left:0;
    right: 200px;
    top: 15%;
    bottom: 0;
    margin: auto;
}
#galarrowright {
    left: 205px;
    right: 0;
    top: 15%;
    bottom: 0;
    margin: auto;
}

@keyframes fadegal {
    from {opacity: 0}
    to {opacity: 1}
}


@keyframes mymovelleft {
    from {right: 115px;}
    to {right: 415.5px;}

}

@keyframes mymovelright {
    from {left: 115px;}
    to {left: 413.5px;}
}

@keyframes mymovealeft {
    from {left: 205px;}
    to {left: 805px;}

}

@keyframes mymovearight {
    from {right: 200px;}
    to {right: 800px;}
}