@font-face{
    font-family: 'Superspace';
    font-weight: normal;
    src: url('../fonts/Superspace/Superspace Light ver 1.00.otf');
}

@font-face{
    font-family: 'Superspace Bold';
    font-weight: bold;
    src: url('../fonts/Superspace/Superspace Bold ver 1.00.otf');
}


html, body{
    height: 100%;
    transform: translateZ(0);
}

body{
    margin: 0;
    min-height: 100%;
    width: 100%;
    background: white;
    font-family: "Superspace";
    font-size: 24px;
    color: white;
    position: relative;

}

.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #272F35;
    z-index: 20000;
    display: table;
}

.loading-logo{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.loading-logo img{
    max-width: 100%;
    transform: translateZ(0);
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.screen img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    transform: translateZ(0);
}

div {
    display: block;
}

.menu{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 500;
    margin-top: 30px;
}

.menu ul{
    padding: 0;
    margin: 0;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px 30px;
    padding-bottom: 13px;
    font-size: 26px;
    margin: 0px;
    transition: background, border;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    border-bottom: 2px solid rgba(255,255,255,0);
}

.menu ul li:last-child{
    border-right: none;
}

.menu div{
    list-style-type: none;
    display: inline-block;
    padding: 15px 30px;
    padding-bottom: 13px;
    font-size: 24px;
    margin: 0px;
    transition: background, border;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    border-bottom: 2px solid rgba(255,255,255,0);

}

div.menu-center{
    background: transparent;
    display: table;
    margin: auto;
    border-radius: 0 0 10px 10px;
    padding: 0;

}

.menu a{
    margin: -3px;
}

.menu-main{
    background: rgba(255,255,255,0.1);
}

.menu ul li.active{
    background: transparent;
    border-bottom: 2px solid rgba(0,0,0,0);
    text-decoration: underline;
    font-family: "Superspace Bold";
}

.menu ul li:hover{
    background: transparent;
    border-bottom: 2px solid rgba(0,0,0,0);
    text-decoration: underline;
    font-family: "Superspace Bold";
}

.menu ul a{
    color: #272F35;
    text-decoration: none;
}

div.menu-side-container{
    top: 0;
    position: absolute;
}

.menu div.menu-list-container{
    position: relative;
}

.menu-list-left{
    position: absolute;
}

.menu-list-right{
    position: absolute;
}


img.img-logo{
    position: absolute;
    max-height: none;
    margin-top: -46px;
    margin-left: -45px;
    height: 74px;
    padding: 10px;
    padding-top: 20px;
    background: transparent;
    border: 2px solid rgba(0,0,0,0);
    transition: border, margin-top;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

}

img.img-logo:hover{
    margin-top: -30px;

}

.menu-logo{
    background: none !important;
    width: 36px;
    border: none;

}




#mountain {
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 14;
    max-width: 88%;
}

#littlemountain {
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 12;
    max-width: 88%;
}

#ring {
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 15;
    max-width: 88%;
}

#title {
    width: 100%;
    height: 100%;
    margin: auto;
    top: -30%;
    left: -10%;
    right: 0;
    z-index: 16;
    opacity: 1;
    max-width: 88%;
    bottom: 1%;
}

@keyframes hidetitle {
    from {opacity: 1}
    to {opacity: 0}
    from {z-index: 16}
    to {z-index: -1}
}

@keyframes showtitle {
    from {opacity: 0}
    to {opacity: 1}
    from {z-index: -1}
    to {z-index: 16}
}

#mountainhover {
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    max-width: 88%;
}

.showhover {
    z-index: 100;
    width: 38%;
    height: 50%;
    background: transparent;
    position: absolute;
    top: 33%;
    left: 6%;
    right: 0;
    margin: auto;
    cursor: pointer;
}

.regisb {
    z-index: -1;
    position: absolute;
    top: 5%;
    width: 88%;
    height: 90%;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
}

#registerblock {
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
}

#headregisterblock {
    z-index: -1;
    width: 18%;
    height: 34%;
    left: 0%;
    top: 11%;
    right: 0;
    margin: auto;
    opacity: 0;
}

headhome {
    font-size: 29px;
    font-family: "Superspace Bold";
}

center {
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 0.6em;
}


.textregis {

    z-index: -1;
    width: 61%;
    height: 33%;
    top: 46%;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    color: #272F35 ;
    overflow: visible;
}


@keyframes showtextregis {
    from {opacity: 0}
    to {opacity: 1}
    from {z-index: -1}
    to {z-index: 18000}
}

@keyframes hidetextregis {
    from {z-index: 18000}
    to {z-index: -1}
    from {opacity: 1}
    to {opacity: 0}
}


.mapbutton {
    border-radius: 15px;
    border: solid 2px gray;
    background: #272F35;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    position: absolute;
    left: 30%;
    top: 80%;
    margin: auto;
    z-index: -1;
}

.regisbutton {
    border-radius: 15px;
    border: solid 2px gray;
    background: #272F35;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    position: absolute;
    right: 30%;
    top: 80%;
    margin: auto;
    z-index: -1;
    cursor: pointer;
    font-family: "Superspace";
}

.mapbutton:hover {
    color: #272F35;
    background: rgba(255, 255, 255, 0.3);
    font-family: "Superspace Bold";
}

.regisbutton:hover {
    color: #272F35;
    background: rgba(255, 255, 255, 0.3);
    font-family: "Superspace Bold";
}

@keyframes showregisbutton {
    from {opacity: 0}
    to {opacity: 1}
    from {z-index: -1}
    to {z-index: 18001}
}

@keyframes hideregisbutton {
    from {z-index: 18001}
    to {z-index: -1}
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes showmapbutton {
    from {opacity: 0}
    to {opacity: 1}
    from {z-index: -1}
    to {z-index: 18001}
}

@keyframes hidemapbutton {
    from {z-index: 18001}
    to {z-index: -1}
    from {opacity: 1}
    to {opacity: 0}
}

.backregisterblock {
    z-index: -1;
    background: url(../images/Homeedit/regis_BG.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
}

@keyframes regisblock {
    from {opacity: 0}
    to {opacity: 1}
    from {z-index: -1}
    to {z-index: 10001}
}

@keyframes hideregisblock {
    from {z-index: 10001}
    to {z-index: -1}
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes backregisblock {
    from {opacity: 0}
    to {opacity: 1}
    from {z-index: -1}
    to {z-index: 10000}
}

@keyframes hidebackregisblock {
    from {z-index: 10000}
    to {z-index: -1}
    from {opacity: 1}
    to {opacity: 0}
}


@keyframes showlinemou {
    from {opacity: 0}
    to {opacity: 1}
    from {z-index: -1}
    to {z-index: 15}
}

@keyframes hidelinemou {
    from {opacity: 1}
    to {opacity: 0}
    from {z-index: 15}
    to {z-index: -1}
}




#cloundfronttotam {
    max-width: none;
    width: 150%;
    height: 60%;
    margin: auto;
    z-index: 5;
    top: 55%;
    animation: clofronto 80s infinite linear ;
    left: 0%;
}

@keyframes clofronto {
    0%   {left:0%;}
    50%  {left:-50%;}
    100% {left:0%;}
}


#totambehidemountain {
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 6;
    max-width: 88%;
}

#backmountaincloud {
    max-width: none;
    width: 150%;
    height: 60%;
    margin: auto;
    right: 0%;
    z-index: 4;
    top: 35%;
    animation: backmouclo 80s infinite linear ;
}
@keyframes backmouclo {
    0%   {right:0%;}
    50%  {right:-50%;}
    100% {right:0%;}
}


#lastbackmountaincloud {
    max-width: none;
    width: 150%;
    height: 60%;
    margin: auto;
    right: -13%;
    z-index: 2;
    top: 20%;
    animation: lastclound 100s infinite linear ;
}

@keyframes lastclound {
    0%   {right:-13%;}
    50%  {right:-38%;}
    100% {right:-13%;}
}

#beforelastclound {
    max-width: none;
    width: 150%;
    height: 60%;
    margin: auto;
    z-index: 3;
    top: 28%;
    animation: beforelastclound 90s infinite linear ;
    left: 0%;
}

@keyframes beforelastclound {
    0%   {left: 0%;}
    50%  {left: -50%;}
    100% {left: 0%;}
}


#totambehidebottomcloud {
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 6;
    max-width: 88%;
    top: 3%;
}

#bottomcloud {
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 20;
    top: 5%;
}

#bottomcloudfront {
    max-width: none;
    width: 150%;
    height: 60%;
    margin: auto;
    left: 0;
    z-index: 21;
    top: 74%;
    animation:  bottomcloudfronts 120s infinite linear;
}

@keyframes bottomcloudfronts {
    0%   {left: 0%;}
    50%  {left: -50%;}
    100% {left: 0%;}
}



#sky {
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1;
}

#ringhover {
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    max-width: 88%;
    top: 2%;

}

@keyframes showringmou {
    from {opacity: 0}
    to {opacity: 1}
    from {z-index: -1}
    to {z-index: 16}
}

@keyframes hideringmou {
    from {opacity: 1}
    to {opacity: 0}
    from {z-index: 16}
    to {z-index: -1}
}

#orahover {
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    max-width: 88%;
}


@keyframes showora {
    from {opacity: 0}
    to {opacity: 1}
    from {z-index: -1}
    to {z-index: 14}
}

@keyframes hideora {
    from {opacity: 1}
    to {opacity: 0}
    from {z-index: 14}
    to {z-index: -1}
}

#littlecloudleft {
    z-index: 19;
    width: 100%;
    height: 100%;
    animation: littleclound 16s infinite linear ;
    margin: auto;
    left: 0;
    right: 0;
}

#littlecloudright {
    z-index: 19;
    width: 100%;
    height: 100%;
    animation: littleclound 14s infinite linear ;
    margin: auto;
    left: 0;
    right: 0;
}

@keyframes littleclound {
    0%   {left:0px; top:0px;}
    50%  {left:150px; top:0px;}
    100% {left:0; top:0px;}
}

div.menu-mobile{
    display: none;
}

#ringhovermobile {
    z-index: -1;
}

.showhovermobile {

    z-index: -1;
    width: 57%;
    height: 18%;
    background: transparent;
    position: absolute;
    top: 74%;
    left: -5%;
    right: -8%;
    margin: auto;
    cursor: pointer;
}

#titlemobile {
    z-index: -1;
}

.registerblock {
    z-index: -1;
    border-radius: 30px 30px 30px 30px;
    background: url(../images/shadow-01.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    top: 7%;
    width: 75%;
    height: 86%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0px 30px;
    opacity: 0;
    overflow: visible;
}

@keyframes showregisterblock {
    from{z-index: -1}
    to{z-index: 19000}
    from{opacity: 0}
    to{opacity: 1}
}

@keyframes hideregisterblock {
    from{z-index: 19000}
    to{z-index: -1}
    from{opacity: 1}
    to{opacity: 0}
}

.backregisallpage {
    background: url(../images/shadowmorelight0.5-01.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    z-index: -1;
}
@keyframes showbackallregisterblock {
    from{z-index: -1}
    to{z-index: 18999}
    from{opacity: 0}
    to{opacity: 1}
}

@keyframes hidebackallregisterblock {
    from{z-index: 18999}
    to{z-index: -1}
    from{opacity: 1}
    to{opacity: 0}
}

.closed {
    text-align: right;
    font-family: "Superspace Bold";
    font-size: 30px;
    right: 0;
    padding-top: 19px;
    padding-right: 27px;
    color: white;
    cursor: pointer;
    position: absolute;
}

.closed:hover {
    color: red;
}

#cen {
    display: block;
    text-align: center;
    -webkit-margin-after: 0.8em;
}
#cenn {
    display: block;
    text-align: center;

}

.backkk {
    border-radius: 15px;
    border: solid 2px white;
    background: gray;
    padding: 8px 12px;
    text-decoration: none;
    margin-top: 1.5%;
    font-family: "Superspace Bold";
    cursor: pointer;
    font-size: 24px;
}
.backkk:hover {
    font-family: "Superspace Bold";
    color: white;
    background: rgba(255, 255, 255, 0.3);

}

.confirmm {
    border-radius: 15px;
    border: solid 2px white;
    background: gray;
    padding: 8px 12px;
    text-decoration: none;
    margin-top: 1.5%;
    font-family: "Superspace Bold";
    cursor: pointer;
    font-size: 24px;
}
.confirmm:hover {
    font-family: "Superspace Bold";
    color: white;
    background: rgba(255, 255, 255, 0.3);

}

.regispage1 {
    width: 100%;
    height: 100%;
    overflow: visible;
}


.regispage2 {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.but {
    border-radius: 10px;
    font-size: 20px;
}

@media all and (max-width: 1280px) {
    .regisbutton {
        border-radius: 15px;
        border: solid 2px gray;
        background: #272F35;
        color: white;
        padding: 8px 12px;
        text-decoration: none;
        position: absolute;
        right: 30%;
        top: 81.5%;
        margin: auto;
        z-index: -1;
        font-family: "Superspace";
    }
    .mapbutton {
        border-radius: 15px;
        border: solid 2px gray;
        background: #272F35;
        color: white;
        padding: 8px 12px;
        text-decoration: none;
        position: absolute;
        left: 30%;
        top: 81.5%;
        margin: auto;
        z-index: -1;
    }
}

@media all and (max-width: 1020px) {


    center {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0.4em;
    }

    .textregis {
     z-index: -1;
     width: 61%;
     height: 41%;
     top: 38%;
     left: 0;
     right: 0;
     margin: auto;
     opacity: 0;
     position: absolute;
     color: #272F35;
    }
    #headregisterblock {
        z-index: -1;
        width: 18%;
        height: 25%;
        left: 0%;
        top: 11%;
        right: 0;
        margin: auto;
        opacity: 0;
    }
}

@media all and (max-width: 870px) {
    #headregisterblock {
        z-index: -1;
        width: 18%;
        height: 23%;
        left: 0%;
        top: 11%;
        right: 0;
        margin: auto;
        opacity: 0;
    }
    .regisbutton {
        border-radius: 15px;
        border: solid 2px gray;
        background: #272F35;
        color: white;
        padding: 8px 12px;
        text-decoration: none;
        position: absolute;
        right: 30%;
        top: 79%;
        margin: auto;
        z-index: -1;
        font-family: "Superspace";
    }
    .mapbutton {
        border-radius: 15px;
        border: solid 2px gray;
        background: #272F35;
        color: white;
        padding: 8px 12px;
        text-decoration: none;
        position: absolute;
        left: 30%;
        top: 79%;
        margin: auto;
        z-index: -1;
    }
    .textregis {
        z-index: -1;
        width: 61%;
        height: 41%;
        top: 36%;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        color: #272F35;
    }
}

@media all and (max-width: 780px) {
    .menu ul li {

        font-size: 20px;

    }

    .menu div {

        font-size: 24px;
    }

    #mountain {
        width: 120%;
        height: 100%;
        margin: auto;
        left: -10%;
        top: 10%;
        right: 0;
        z-index: 14;
        max-width: none;
    }

    #ring {
        width: 120%;
        height: 100%;
        margin: auto;
        right: 0;
        z-index: 15;
        max-width: none;
        left: -10%;
        top: 10%;
    }

    #mountainhover {
        width: 120%;
        height: 100%;
        margin: auto;
        left: -10%;
        right: 0;
        z-index: -1;
        opacity: 0;
        max-width: none;
        top: 10%;
    }

    #orahover {
        width: 120%;
        height: 100%;
        margin: auto;
        left: -10%;
        right: 0;
        z-index: -1;
        opacity: 0;
        max-width: none;
        top: 10%;
    }

    #ringhover {
        width: 120%;
        height: 100%;
        margin: auto;
        left: -10%;
        right: 0;
        z-index: -1;
        opacity: 0;
        max-width: none;
        top: 12%;
    }

    #totambehidemountain {
        width: 120%;
        height: 100%;
        margin: auto;
        left: -10%;
        right: 0;
        z-index: 6;

        max-width: none;
        top: 10%;
    }

    #totambehidebottomcloud {
        width: 120%;
        height: 100%;
        margin: auto;
        left: -10%;
        right: 0;
        z-index: 6;

        max-width: none;
        top: 10%;

    }
    #littlemountain {
        width: 120%;
        height: 100%;
        margin: auto;
        left: -10%;
        right: 0;
        z-index: 12;
        max-width: none;
        top: 10%;
    }

    #title {
        width: 120%;
        height: 100%;
        margin: auto;
        top: -30%;
        left: -20%;
        right: 0;
        z-index: 16;
        opacity: 1;
        max-width: none;
        bottom: 0%;
    }

    #bottomcloud {
        max-width: none;
        width: 120%;
        height: 100%;
        margin: auto;
        left: 0;
        right: 0;
        z-index: 20;
        top: 11%;
    }
    #bottomcloudfront {
        max-width: none;
        width: 170%;
        height: 60%;
        margin: auto;
        left: 0;
        z-index: 21;
        top: 77%;
        animation: bottomcloudfronth 60s infinite linear;
    }
    @keyframes  bottomcloudfronth{
        0% {left: 0%;}
        50% {left: -70%;}
        100% {left: 0%;}
    }

    #lastbackmountaincloud {
        max-width: none;
        width: 170%;
        height: 60%;
        margin: auto;
        right: -13%;
        z-index: 2;
        top: 30%;
        animation: lastbackmountaincloudh 50s infinite linear;
    }
    @keyframes  lastbackmountaincloudh{
        0% {right: -13%;}
        50% {right: -50%;}
        100% {right: -13%;}
    }

    #beforelastclound {
        max-width: none;
        width: 170%;
        height: 60%;
        margin: auto;
        z-index: 3;
        top: 40%;
        animation: beforelastclound 40s infinite linear;
        left: 0%;
    }

    @keyframes  beforelastcloundh {
        0% {left: 0%;}
        50% {left: -60%;}
        100% {left: 0%;}
    }

    #backmountaincloud {
        max-width: none;
        width: 170%;
        height: 60%;
        margin: auto;
        right: 0%;
        z-index: 4;
        top: 40%;
        animation: backmountaincloudh 30s infinite linear;
    }

    @keyframes  backmountaincloudh{
        0% {right: 0%;}
        50% {right: -70%;}
        100% {right: 0%;}
    }

    #cloundfronttotam {
        max-width: none;
        width: 170%;
        height: 60%;
        margin: auto;
        z-index: 5;
        top: 60%;
        animation: cloundfronttotamh 40s infinite linear;
        left: 0%;
    }
    @keyframes  cloundfronttotamh {
        0% {left: 0%;}
        50% {left: -70%;}
        100% {left: 0%;}
    }

    #littlecloudleft {
        z-index: 19;
        width: 120%;
        height: 100%;
        max-width: none;
        animation: littlecloundh 16s infinite linear;
        margin: auto;
        left: 0;
        right: 0;
        top: 5%;
    }

    #littlecloudright {
        z-index: 19;
        width: 120%;
        height: 100%;
        max-width: none;
        animation: littlecloundh 14s infinite linear;
        margin: auto;
        left: 0;
        right: 0;
        top: 5%;
    }
    @keyframes littlecloundh {
        0% {
            left: 0px;
            top: 5%;
        }
        50% {
            left: 150px;
            top: 5%;
        }
        100% {
            left: 0;
            top: 5%;
        }
    }

}
@media all and (max-width: 730px) {

    center {
        -webkit-margin-before: 0.2em;
        -webkit-margin-after: 0.4em;
    }
    .textregis {
        z-index: -1;
        width: 61%;
        height: 44%;
        top: 35%;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        color: #272F35;
        font-size: 23px;
    }
    #headregisterblock {
        z-index: -1;
        width: 23%;
        height: 24%;
        left: 0%;
        top: 10%;
        right: 0;
        margin: auto;
        opacity: 0;
    }
    .mapbutton {
        border-radius: 15px;
        border: solid 2px gray;
        background: #272F35;
        color: white;
        padding: 8px 12px;
        text-decoration: none;
        position: absolute;
        left: 25%;
        top: 81%;
        margin: auto;
        z-index: -1;
    }
    .regisbutton {
        border-radius: 15px;
        border: solid 2px gray;
        background: #272F35;
        color: white;
        padding: 8px 12px;
        text-decoration: none;
        position: absolute;
        right: 25%;
        top: 81%;
        margin: auto;
        z-index: -1;
        font-family: "Superspace";
    }


}
@media all and (max-width: 680px) {
    .menu ul li {

        font-size: 16px;

    }

    .menu div {

        font-size: 24px;
    }

}

@media all and (max-width: 608px) {
    .menu ul li {

        font-size: 14px;

    }

    .menu div {

        font-size: 14px;
    }
}




@media all and (max-width: 610px) {
    .mapbutton {
        border-radius: 15px;
        border: solid 2px gray;
        background: #272F35;
        color: white;
        padding: 8px 12px;
        text-decoration: none;
        position: absolute;
        left: 20%;
        top: 81%;
        margin: auto;
        z-index: -1;
    }
    .regisbutton {
        border-radius: 15px;
        border: solid 2px gray;
        background: #272F35;
        color: white;
        padding: 8px 12px;
        text-decoration: none;
        position: absolute;
        right: 20%;
        top: 81%;
        margin: auto;
        z-index: -1;
        font-family: "Superspace";
    }
    .textregis {
        z-index: -1;
        width: 61%;
        height: 49%;
        top: 30%;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        color: #272F35;
        font-size: 23px;
    }
    #headregisterblock {
        z-index: -1;
        width: 23%;
        height: 21%;
        left: 0%;
        top: 9%;
        right: 0;
        margin: auto;
        opacity: 0;
    }
}


@media all and (max-width: 570px) {
    .menu ul li {

        font-size: 12px;

    }

    .menu div {

        font-size: 12px;
    }
    .textregis {
        z-index: -1;
        width: 61%;
        height: 49%;
        top: 30%;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        color: #272F35;
        font-size: 21px;
    }
}

@media all and (max-width: 526px) {
    .menu ul li {

        font-size: 10px;

    }

    .menu div {

        font-size: 10px;
    }
}

@media all and (max-width: 496px){
    .textregis {
        z-index: -1;
        width: 61%;
        height: 48%;
        top: 31%;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        color: #272F35;
        font-size: 21px;
    }

}


@media all and (max-width: 490px){

    center {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0.4em;
    }

    #ring {
        z-index: -1;
    }

    .menu ul a {
        color: white;
    }

    #mountain {
        width: 200%;
        height: 90%;
        left: -49%;
        top: 32%;
        max-width: none;
        max-height: none;
    }

    #mountainhover {
        width: 200%;
        height: 90%;
        left: -49%;
        top: 32%;
        max-width: none;
        max-height: none;
    }

    #orahover {
        display: none;
    }

    .showhover {
       display: none;
    }
    .showhovermobile {
        z-index: 80;


    }

    #ring {
       display: none;
    }

    #ringhovermobile {
        width: 200%;
        height: 90%;
        left: -50%;
        top: 35%;
        max-width: none;
        max-height: none;
        z-index: 50;

    }


    #totambehidemountain {
        display: none;
    }

    #totambehidebottomcloud {
        display: none;
    }

    #title {
        display: none;
    }

    #titlemobile {
        width: 190%;
        height: 90%;
        left: -46%;
        right: 0;
        margin: auto;
        top: 12%;
        z-index: 16;
        max-width: none;
        max-height: none;
    }
    #bottomcloud {
        width: 170%;
        height: 100%;
        margin: auto;
        left: -8%;
        right: 0;
        z-index: 10;
        top: 8%;
        max-width: none;
    }

    #bottomcloudfront {


        display: none;

    }

    #sky {
        width: 100%;
        height: 105%;
        margin: auto;
        left: 0;
        right: 0;
        z-index: 1;
    }
    #beforelastclound {

        max-width: none;
        width: 220%;
        height: 42%;
        margin: auto;
        z-index: 3;
        top: 44%;
        animation: beforelastcloundm 50s infinite linear;
        left: 0%;
    }
    @keyframes beforelastcloundm {
        0% {left: 0%;}
        50% {left: -120%;}
        100% {left: 0%;}
    }

    #lastbackmountaincloud {

        max-width: none;
        width: 220%;
        height: 42%;
        margin: auto;
        right: -13%;
        z-index: 2;
        top: 38%;
        animation: lastbackmountaincloudm 60s infinite linear;
    }
    @keyframes lastbackmountaincloudm {
        0% {right: -13%;}
        50% {right: -100%;}
        100% {right: -13%;}
    }



    #totambehidemountain {
        display: none;
    }

    #backmountaincloud {

        max-width: none;
        width: 220%;
        height: 42%;
        margin: auto;
        right: 0%;
        z-index: 4;
        top: 51%;
        animation: backmountaincloudm 40s infinite linear;
    }

    @keyframes backmountaincloudm {
        0% {right: 0%;}
        50% {right: -120%;}
        100% {right: 0%;}
    }

    #cloundfronttotam {

        max-width: none;
        width: 220%;
        height: 42%;
        margin: auto;
        z-index: 5;
        top: 61%;
        animation: cloundfronttotamm 40s infinite linear;
        left: 0%;
    }

    @keyframes cloundfronttotamm {
        0% {left: 0%;}
        50% {left: -120%;}
        100% {left: 0%;}
    }

    #littlemountain {
        width: 200%;
        height: 90%;
        left: -50%;
        top: 32%;
        max-width: none;
        max-height: none;
    }

    #littlecloudleft {

        display: none;
    }

    #littlecloudright {
        display: none;

    }

    .menu ul li {

        font-size: 26px;

    }

    .menu div {

        font-size: 24px;
    }

    #menu{
        width: 300%;
        left: -99%;
        position: absolute;
    }
    #menu li{
        display: none;
    }
    #menu li#menu-main{

        display: none;
        padding: 0;
    }
    div.menu-mobile{
        display: block;
        background: #272F35;
        margin-top: -463px;
        transition: margin-top;
        transition-duration: 0.6s;
        transition-timing-function: ease-in-out;
        border-bottom: 2px solid #B2AFAA;
    }
    #menu-slide li{
        display: block;
        padding: 10px 0;
    }
    #menu-slide li:hover{
        display: block;
        padding: 10px 0;
        background: rgba(255,255,255,0.3);
    }
    img.img-logo-mobile{
        max-height: none;
        margin-top: 13px;
        margin-left: -48px;
        height: 74px;
        padding: 10px;
        padding-top: 20px;
        background: #272F35;
        border-radius: 0 0 47px 47px;
        cursor: pointer;
        border: 2px solid #B2AFAA;
        border-top: transparent;
    }

    .regisb {
        z-index: -1;
        position: absolute;
        top: 11%;
        width: 150%;
        height: 80%;
        left: -22%;
        right: 0;
        margin: auto;
        opacity: 0;
    }

    .textregis {
        z-index: -1;
        width: 61%;
        height: 43%;
        top: 35%;
        left: -4%;
        right: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        color: #272F35;
        font-size: 21px;
    }

    #registerblock {
        z-index: -1;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
    }

    #headregisterblock {
        z-index: -1;
        width: 21%;
        height: 25%;
        left: -4%;
        top: 9%;
        right: 0;
        margin: auto;
        opacity: 0;
    }

    .mapbutton {

        left: 21%;
        top: 80%;
    }

    .regisbutton {
        border-radius: 15px;
        border: solid 2px gray;
        background: #272F35;
        color: white;
        padding: 8px 12px;
        text-decoration: none;
        position: absolute;
        right: 25%;
        top: 80%;
        margin: auto;
        z-index: -1;
        font-family: "Superspace";
    }
    .regisbutton {
        font-size: 21px;
    }
    .mapbutton {
        font-size: 21px;
    }

}

@media all and (max-width: 384px) {
    center {
        -webkit-margin-before: 0.3em;
        -webkit-margin-after: 0em;
    }
    .textregis {
        z-index: -1;
        width: 61%;
        height: 53%;
        top: 25%;
        left: -4%;
        right: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        color: #272F35;
        font-size: 21px;
    }
    #headregisterblock {
        z-index: -1;
        width: 17%;
        height: 19%;
        left: -4%;
        top: 8%;
        right: 0;
        margin: auto;
        opacity: 0;
    }

}
