@font-face{
    font-family: 'Superspace';
    font-weight: normal;
    src: url('../fonts/Superspace/Superspace Light ver 1.00.otf');
}

@font-face{
    font-family: 'Superspace Bold';
    font-weight: bold;
    src: url('../fonts/Superspace/Superspace Bold ver 1.00.otf');
}


html, body{
    height: 100%;
}

body{
    margin: 0;
    min-height: 100%;
    width: 100%;
    background: white;
    font-family: "Superspace";
    font-size: 24px;
    color: white;
    position: relative;
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.screen img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    transform: translateZ(0);
}

div {
    display: block;
}

.menu{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 300;
    margin-top: 30px;
}

.menu ul{
    padding: 0;
    margin: 0;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px 30px;
    padding-bottom: 13px;
    font-size: 26px;
    margin: 0px;
    transition: background, border;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    border-bottom: 2px solid rgba(255,255,255,0);

}

.menu div{
    list-style-type: none;
    display: inline-block;
    padding: 15px 30px;
    padding-bottom: 13px;
    font-size: 24px;
    margin: 0px;
    transition: background, border;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    border-bottom: 2px solid rgba(255,255,255,0);

}

div.menu-center{
    background: transparent;
    display: table;
    margin: auto;
    border-radius: 0 0 10px 10px;
    padding: 0;

}

.menu a{
    margin: -3px;
}

.menu-main{
    background: rgba(255,255,255,0.1);
}

.menu ul li.active{
    background: transparent;
    border-bottom: 2px solid rgba(0,0,0,0);
    text-decoration: underline;
    font-family: "Superspace Bold";
}

.menu ul li:hover{
    background: transparent;
    border-bottom: 2px solid rgba(0,0,0,0);
    text-decoration: underline;
    font-family: "Superspace Bold";
}

.menu ul a{
    color: white;
    text-decoration: none;
}

div.menu-side-container{
    top: 0;
    position: absolute;
}

.menu div.menu-list-container{
    position: relative;
}

.menu-list-left{
    position: absolute;
}

.menu-list-right{
    position: absolute;
}

img.img-logo{
    position: absolute;
    max-height: none;
    margin-top: -46px;
    margin-left: -45px;
    height: 74px;
    padding: 10px;
    padding-top: 20px;
    background: transparent;
    border: 2px solid rgba(0,0,0,0);
    transition: border, margin-top;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

}

img.img-logo:hover{
    margin-top: -30px;

}

.menu-logo{
    background: none !important;
    width: 36px;
    border: none;
}


#sbg {
    z-index: 10;
    width: 100%;
    height: 100%;
    margin: auto;
}




#sun {
    width: 100%;
    height: 100%;
    z-index: 12;
    animation: sunn 1.5s linear infinite;
    left: 0;
    top: 0;
    margin: auto;
}

@keyframes sunn {
    0% {top: 0%}
    50% {top: 2%}
    100% {top: 0% }

}

#moon {
    width: 100%;
    height: 100%;
    z-index: 13;
    animation: moonn 1.5s linear infinite;
    left: 0;
    margin: auto;
}

@keyframes moonn {
    0% {top: 0%}
    50% {top: -2%}
    100% {top: 0% }

}

#book {
    width: 100%;
    height: 100%;
    z-index: 15;

    left: 0;
    margin: auto;
}


#buil {
    width: 100%;
    height: 100%;
    z-index: 18;

    left: 0;
    margin: auto;
}


#flag {
    width: 100%;
    height: 100%;
    z-index: 15;

    left: 0;
    margin: auto;
}


#frame {
    width: 100%;
    height: 100%;
    z-index: 11;
    top: 3%;
    left: 0;
    margin: auto;
}


#scro {
    width: 100%;
    height: 100%;
    z-index: 15;

    left: 0;
    margin: auto;
}


#come {
    width: 100%;
    height: 100%;
    z-index: 15;

    left: 0;
    margin: auto;
}


#tun {
    width: 100%;
    height: 100%;
    z-index: 15;

    left: 0;
    margin: auto;
}


#name {
    width: 100%;
    height: 100%;
    z-index: 16;

    left: 0;
    margin: auto;
}


#regis {
    width: 100%;
    height: 100%;
    z-index: 15;

    left: 0;
    margin: auto;
}

#make {
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    margin: auto;
    opacity: 0.3;
}


div.menu-mobile{
    display: none;
}

@media all and (max-width: 870px) {
    #sun {
        width: 100%;
        height: 80%;
        z-index: 12;
        left: 0;
        top: 10%;
        margin: auto;
        animation: sunnn 1.5s linear infinite;
    }
    @keyframes sunnn {
        0% {top: 10%}
        50% {top: 12%}
        100% {top: 10%}
    }
    #moon {
        width: 100%;
        height: 80%;
        top: 10%;
        z-index: 13;
        left: 0;
        margin: auto;
        animation: moonnn 1.5s linear infinite;
    }

    @keyframes moonnn {
        0% {top: 10%}
        50% {top: 8%}
        100% {top: 10%}
    }
    #book {
         width: 100%;
         height: 80%;
         z-index: 15;
         left: 0;
         margin: auto;
         top: 10%;
     }
    #buil {
        width: 100%;
        height: 80%;
        z-index: 18;
        top: 10%;
        left: 0;
        margin: auto;
    }
    #flag {
        width: 100%;
        height: 80%;
        top: 10%;
        z-index: 15;
        left: 0;
        margin: auto;
    }
    #frame {
        width: 100%;
        height: 80%;
        z-index: 11;
        top: 13%;
        left: 0;
        margin: auto;
    }
    #scro {
        width: 100%;
        height: 80%;
        z-index: 15;
        left: 0;
        top: 10%;
        margin: auto;
    }
    #come {
        width: 100%;
        height: 80%;
        z-index: 15;
        left: 0;
        top: 10%;
        margin: auto;
    }
    #tun {
        width: 100%;
        height: 80%;
        z-index: 15;
        top: 10%;
        left: 0;
        margin: auto;
    }
    #name {
        width: 100%;
        height: 80%;
        z-index: 16;
        top: 10%;
        left: 0;
        margin: auto;
    }
    #regis {
        width: 100%;
        height: 80%;
        z-index: 15;
        left: 0;
        top: 10%;
        margin: auto;
    }
    #make {
        width: 120%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: -10%;
        margin: auto;
        opacity: 0.3;
        max-width: none;
    }
}

@media all and (max-width: 780px) {
    .menu ul li {

        font-size: 20px;

    }

    .menu div {

        font-size: 24px;
    }


}
@media all and (max-width: 680px) {
    .menu ul li {

        font-size: 16px;

    }

    .menu div {

        font-size: 24px;
    }
    #sun {
        width: 100%;
        height: 58%;
        z-index: 12;
        left: 0;
        top: 20%;
        margin: auto;
        animation: sunnnn 1.5s linear infinite;
    }
    @keyframes sunnnn {
        0% {top: 20%}
        50% {top: 22%}
        100% {top: 20%}
    }
    #moon {
        width: 100%;
        height: 58%;
        top: 20%;
        z-index: 13;
        left: 0;
        margin: auto;
        animation: moonnnn 1.5s linear infinite;
    }
    @keyframes moonnnn {
        0% {top: 20%}
        50% {top: 18%}
        100% {top: 20%}
    }
    #book {
        width: 100%;
        height: 58%;
        z-index: 15;
        left: 0;
        margin: auto;
        top: 20%;
    }
    #buil {
        width: 100%;
        height: 58%;
        z-index: 18;
        top: 20%;
        left: 0;
        margin: auto;
    }
    #flag {
        width: 100%;
        height: 58%;
        top: 20%;
        z-index: 15;
        left: 0;
        margin: auto;
    }
    #frame {
        width: 100%;
        height: 58%;
        z-index: 11;
        top: 23%;
        left: 0;
        margin: auto;
    }
    #scro {
        width: 100%;
        height: 58%;
        z-index: 15;
        left: 0;
        top: 20%;
        margin: auto;
    }
    #come {
        width: 100%;
        height: 58%;
        z-index: 15;
        left: 0;
        top: 20%;
        margin: auto;
    }
    #tun {
        width: 100%;
        height: 58%;
        z-index: 15;
        top: 20%;
        left: 0;
        margin: auto;
    }
    #name {
        width: 100%;
        height: 58%;
        z-index: 16;
        top: 20%;
        left: 0;
        margin: auto;
    }
    #regis {
        width: 100%;
        height: 58%;
        z-index: 15;
        left: 0;
        top: 20%;
        margin: auto;
    }
    #make {
        width: 140%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: -20%;
        margin: auto;
        opacity: 0.3;
        max-width: none;
    }

}

@media all and (max-width: 608px) {
    .menu ul li {

        font-size: 14px;

    }

    .menu div {

        font-size: 14px;
    }
}

@media all and (max-width: 562px) {
    .menu ul li {

        font-size: 12px;

    }

    .menu div {

        font-size: 12px;
    }
}


@media all and (max-width: 535px){

    .menu ul a {
        color: white;
    }



    .menu ul li {

        font-size: 26px;

    }

    .menu div {

        font-size: 24px;
    }

    #menu{
        width: 300%;
        left: -99%;
        position: absolute;
    }
    #menu li{
        display: none;
    }
    #menu li#menu-main{

        display: none;
        padding: 0;
    }
    div.menu-mobile{
        display: block;
        background: #272F35;
        margin-top: -463px;
        transition: margin-top;
        transition-duration: 0.6s;
        transition-timing-function: ease-in-out;
        border-bottom: 2px solid #B2AFAA;
    }
    #menu-slide li{
        display: block;
        padding: 10px 0;
    }
    #menu-slide li:hover{
        display: block;
        padding: 10px 0;
        background: rgba(255,255,255,0.3);
    }
    img.img-logo-mobile{
        max-height: none;
        margin-top: 13px;
        margin-left: -48px;
        height: 74px;
        padding: 10px;
        padding-top: 20px;
        background: #272F35;
        border-radius: 0 0 47px 47px;
        cursor: pointer;
        border: 2px solid #B2AFAA;
        border-top: transparent;
    }
    #sun {
        width: 120%;
        height: 50%;
        z-index: 12;
        top: 0%;
        left: -21%;
        margin: auto;
        max-width: none;
        animation: sunnnnn 1.5s linear infinite;
    }
    @keyframes sunnnnn {
        0% {top: 0%}
        50% {top: 2%}
        100% {top: 0%}
    }

    #moon {
        width: 120%;
        height: 50%;
        top: 50%;
        z-index: 13;
        left: 1%;
        max-width: none;
        margin: auto;
        animation: moonnnnn 1.5s linear infinite;
    }
    @keyframes moonnnnn {
        0% {top: 50%}
        50% {top: 48%}
        100% {top: 50%}
    }
    #book {
        width: 160%;
        height: 90%;
        z-index: 15;
        left: -40%;
        margin: auto;
        top: 15%;
        max-width: none;
    }

    #buil {
        width: 160%;
        height: 90%;
        z-index: 18;
        top: -1%;
        left: -14%;
        margin: auto;
        max-width: none;
    }
    #flag {
        width: 160%;
        height: 90%;
        top: 19%;
        z-index: 15;
        left: -56%;
        max-width: none;
        margin: auto;
    }
    #frame {
        width: 170%;
        height: 80%;
        z-index: 11;
        top: 12%;
        left: -30%;
        margin: auto;
        max-width: none;
    }
    #scro {
        width: 160%;
        height: 90%;
        z-index: 15;
        left: -42%;
        top: -1%;
        max-width: none;
        margin: auto;
    }
    #come {
        width: 180%;
        height: 90%;
        z-index: 15;
        top: -2%;
        left: -50%;
        margin: auto;
        max-width: none;
    }
    #tun {
        width: 170%;
        height: 90%;
        z-index: 15;
        top: 20%;
        left: -63%;
        max-width: none;
        margin: auto;
    }
    #name {
        width: 170%;
        height: 90%;
        z-index: 16;
        top: 13%;
        left: -46%;
        max-width: none;
        margin: auto;
    }
    #regis {
        width: 170%;
        height: 90%;
        z-index: 15;
        left: -16%;
        top: 0%;
        max-width: none;
        margin: auto;
    }
    #make {
        width: 170%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: -35%;
        margin: auto;
        opacity: 0.2;
        max-width: none;
    }
}

@media all and (max-width: 340px) {
    #make {
        width: 220%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: -60%;
        margin: auto;
        opacity: 0.2;
        max-width: none;
    }
    #regis {
        width: 220%;
        height: 90%;
        z-index: 15;
        left: -20%;
        top: 2%;
        max-width: none;
        margin: auto;
    }
    #name {
        width: 220%;
        height: 90%;
        z-index: 16;
        top: 16%;
        left: -87%;
        max-width: none;
        margin: auto;
    }
    #tun {
        width: 220%;
        height: 90%;
        z-index: 15;
        top: 23%;
        left: -107%;
        max-width: none;
        margin: auto;
    }
    #come {
        width: 220%;
        height: 90%;
        z-index: 15;
        left: 0;
        top: 5%;
        left: -57%;
        margin: auto;
        max-width: none;
    }
    #scro {
        width: 220%;
        height: 90%;
        z-index: 15;
        left: -57%;
        top: 1%;
        max-width: none;
        margin: auto;
    }
    #frame {
        width: 220%;
        height: 90%;
        z-index: 11;
        top: 6%;
        left: -55%;
        margin: auto;
        max-width: none;
    }
    #flag {
        width: 220%;
        height: 90%;
        top: 21.5%;
        z-index: 15;
        left: -108%;
        max-width: none;
        margin: auto;
    }
    #buil {
        width: 220%;
        height: 90%;
        z-index: 18;
        top: -1%;
        left: -18%;
        margin: auto;
        max-width: none;
    }
    #book {
        width: 220%;
        height: 90%;
        z-index: 15;
        left: -86%;
        margin: auto;
        top: 15%;
        max-width: none;
    }
    #moon {
        width: 120%;
        height: 40%;
        top: 60%;
        z-index: 13;
        left: 1%;
        max-width: none;
        margin: auto;
        animation: moonnnnnn 1.5s linear infinite;
    }
    @keyframes moonnnnnn {
        0% {top: 60%}
        50% {top: 58%}
        100% {top: 60%}
    }
    #sun {
        width: 120%;
        height: 40%;
        z-index: 12;
        top: 0%;
        left: -21%;
        margin: auto;
        max-width: none;
        animation: sunnnnnnn 1.5s linear infinite;
    }
    @keyframes sunnnnnnn {
        0% {top: 0%}
        50% {top: 2%}
        100% {top: 0%}
    }
}

